
<h1>Information</h1>

<% if @city!=nil %>

  <p> My City: <%= @city.name %> </p>

<% end %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @information.each do |information| %>
      <tr>
        <% if information.producer==current_user.id %>
          <td><%= information.content %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Information", new_information_path, class: 'btn btn-default' %>