
<li class='nav-item'><%= link_to 'Home', root_path, class: 'btn btn-default' %></li>

<% if user_signed_in? %>

  <li class='nav-item'> <%= link_to "Send Message", new_information_path, class: 'btn btn-default' %> </li>

<% else %>

  <li class='nav-item'><%= link_to 'Sign In', new_user_session_path, class: 'btn btn-default' %></li>
  <li class='nav-item'><%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-default' %></li>

<% end %>
